body {
    margin: 0;
}

* {
    scroll-behavior: smooth;
}


nav {

    display: flex;
    height: 4vmax;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.549);
    position: sticky;
    top: 0%;
    background-color: white;
    z-index: 10000;

}

.left {

    width: 20%;
    display: flex;
    justify-content: center;


}

.left>a {

    width: 100%;
    font-size: 2.5vmax;
    font-weight: 900;
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left>a:hover {
    border-bottom: 2px solid greenyellow;
    color: yellowgreen;
}

.mid {

    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-self: stretch;
}

.mid>a {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    font-size: 1.5vmax;
    font-weight: 900;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mid>a:hover {
    border-bottom: 2px solid crimson;
    color: crimson;
}

.right {
    width: 20%;
    display: flex;
    justify-content: center;

}

.right>img {

    width: 40px;
    height: 40px;
    margin: 1vmax;
    cursor: pointer;

}

.home {
    display: flex;
    height: 90vh;
    background-image: linear-gradient(to right, rgb(179, 181, 186), rgb(205, 205, 247));
}

.container {

    width: 100%;

}

#leftcontainer {
    display: flex;

    justify-content: flex-start;

}

#leftcontainer>img {
    margin-bottom: 3vmax;
    filter: drop-shadow(0 0 20px);
}

#rightcontainer {
    display: flex;
    flex-direction: column;
    padding: 7vmax;
    align-items: center;
    justify-content: center;
}

#rightcontainer>h1 {
    margin-right: 200px;

    font-size: 4vmax;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#rightcontainer>h2 {
    margin-top: -25px;
    margin-right: 400px;
    font-size: 2vmax;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#rightcontainer>h5 {
    margin-top: -15px;
    margin-left: 25px;
    font-size: vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#rightcontainer>button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 9vmax;
    margin-right: 70%;
    padding: 7px;
    border: none;
    border-radius: 2vmax;
    background-color: crimson;
    color: white;
    cursor: pointer;
    transition: all 0.5s;

}

#rightcontainer>button:hover {
    background-color: rgba(220, 20, 60, 0);
}

/* ------------------------------------------------------- */



#products>h1 {
    text-align: center;
    padding: .5%;
    margin: 3vmax auto;
    width: 13vw;
    font-size: 3vmax;
    border-bottom: 3px solid crimson;
}

.productscontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    height: 100%;
    max-width: 70vw;
    margin: auto;
}

.product {

    transition: all 0.7s;
    display: flex;
    margin: 1vmax;
    flex-direction: column;
    align-items: center;

}

.product>img {

    width: 20vmax;
    height: 30vmax;

}

.product>h4 {
    margin: 2%;
}

.product>h5 {
    margin: 0;
}

.product:hover {
    transform: translateY(-10px);
}

/* --------------------------------------------------------- */

footer {
    align-items: center;
    padding: 2vmax;
    margin-top: 3vmax;
    display: flex;
    background-color: black;
    color: salmon;
}

.leftfooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    




}

.leftfooter>h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.leftfooter>p {
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.leftfooter>img {
    width: 10vmax;
    margin-bottom: 1vmax;
    cursor: pointer;
}

.midfooter {
    
    width: 60%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.midfooter>h1 {
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vmax;
}

.midfooter>p {
    max-width: 70%;
    color: white;
    text-decoration: none;
    margin: 1vmax auto;
}

.rightfooter {
    
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rightfooter>h2 {
    font-size: 2vmax;
    text-decoration: underline;
}

.rightfooter>a {
    text-decoration: none;
    color: white;
    margin: 7px;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}